@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Mukta&family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.offset:before{
    display: block;
    content: " ";
    height: 6rem;
}

#complete{
    background: #b7cea1;
}


.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 15px 0;
    border-radius: 30px;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

.heading-content{
    position: absolute;
    top:40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}

.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.background{
    height:120vh; width: 100%;
    background-image : url("images/profile_ing.jpg");
    background-size: cover;
    background-position:center 0;
}
/* ---------------------about start here------------------ */

#bg{
    width: 100%;
    background: linear-gradient(to right,#1ebba3,#FFFFFF 100%)
    
}

#about .btn{
    border:2px solid turquoise;
    width: 40%;
    padding: 15px 22px;
    background: #000000;
    border-radius: 10px;
    margin-top: 10px;
}
#about .p{
    color: #fff;
}

#about .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#about .btn:hover{
    border:2px solid #1ebba3;
    cursor: pointer;
}


/* **********service Starts********** */

#Service .button{
    border:2px solid turquoise;
    width: 40%;
    padding: 15px 22px;
    background: #030303;
    border-radius: 10px;
    margin-top: 10px;
}

#Service.button a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#Service.button:hover{
    border:2px solid #1ebba3;
    cursor: pointer;
}

/* ---------------------------newsletter start --------------------------------- */


.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f8fafb;
}

.sec1 h2{
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    letter-spacing: 3px;
    line-height:50px;
}

.sec1 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* ------------------Contact Us------------- */

#Contact{
    background : linear-gradient(to right,#f5b16c,#FFFFFF, #6ec666,  #6dcfed 100%)

    
}

.sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f8fafb;
}

.sec2 h2{
    font-family:'Poppins',sans-serif;
    font-weight:bold;
    letter-spacing: 3px;
    line-height:50px;
}

.sec2 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

/* -----------------MEDIA QUERY------------------- */
@media screen and (max-width: 767px){
        
    /* ----------tables--------- */
    .navbar{
        letter-spacing: 0.1rem;
        padding: 10px 0;
        margin: 10px;
    }

    .background{
        background-position:center 0;
    }
    
}
.heading-content h5{
    font-size: 2em;
    margin: 10px;
}

.heading-content h1{
    font-size: 3em;

}

.heading-content p{
    font-size: 0.9em;
}



@media screen and (max-width: 479px){
    /* -----------smartphone------------- */
    .navbar{
        letter-spacing: 0.1rem;
        padding: 3px 0;
        margin: 10px;
    }

.background{
    background-position:center 0;
}

.heading-content h5{
    font-size: 2em;
    margin-top: 10%;
}

.heading-content h1{
    font-size: 2em;

}

.heading-content p{
    font-size: 0.7em;
}

#Contact .post-heading h3{
    font-size: 2em ;
}

}
